@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 100vh;
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

article{
    background-color: hsl(255, 0%, 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 24em;
    padding: 10em 2em 3.5em 2em;
    border-radius: 2em;
    margin-top: 12em;
    position: relative;
}

article img{
    position: absolute;
    top: -9em;
    width: 20em;
}

article h1{
    font-size: 2.5em;
    margin: 0em 0em 0.8em 0em;
}

section{
    width: 100%;
    position: relative;
    cursor: pointer;
}


section h2{
    font-size: 1.1em;
    font-weight: 400;
    margin: 1em 0em;
}

section h2::after{
    content: url('../images/icon-arrow-down.svg');
    position: absolute;
    left: 21em;
    transition: all 0.4s;
}

section.active h2{
    font-weight: 700;
}

section.active h2:after{
    transform: rotate(180deg);
}

section p{
    height: 0em;
    overflow: auto;
    transition: all 0.4s;
}

section.active p{
    display: inline-block;
    height: 3.8em;
    margin-bottom: 0.5em;
}

hr{
    width: 100%;
    padding: 0;
    margin: 0em;
    border: solid 1px hsl(240, 5%, 91%);
}